.footer {
    background: #2c3e50;
    color: white;
    padding: 0.1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: turquoise 1px 2px 8px;
    bottom: 0;
    width: 100%;
    margin: 0px;
  }
  .social-links {
    margin-top: 0.5rem;
  }
  .social-links a {
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
  }
  .social-links a:hover {
    text-decoration: underline;
  }