.div-footer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
     
    background: #4d5458;
    color: #ffffff;
    box-sizing: border-box;
}

.titulo-logo {
    margin: 0 10px;
}

.div-footer{
    border-radius: 5px;
    border: #4d5458;
    box-shadow: #4d5458 15px 5px 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}


