      
    h1 {
        font-weight: 200;
        font-size: 2.2rem;
        color: #222;
        text-align: center;
       
    }
    
    nav {
        margin: 0 auto;
        
        background: #a0ceeb;
        border-radius: 10px;
        box-shadow: turquoise 15px 5px 20px;
    }
    
    nav::after {
        display: block;
        content: '';
        clear: both;
    }
    
    nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    nav ul li {
        float: left;
        position: relative;
    }
    
    nav ul li a {
        display: block;
        color: rgba(46, 42, 42, 0.9);
        text-decoration: none;
        padding: 1rem 2rem;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transition: all .3s ease-in-out;
    }
    
    nav ul li a:hover,
    nav ul li a:focus {
        background: rgba(0, 0, 0, .15);
    }
    
    nav ul li a:focus {
        color: rgb(14, 12, 12);
    }
    
    nav ul li a:not(:only-child)::after {
        padding-left: 4px;
        content: ' ▾';
    }
    
    nav ul li ul li {
        min-width: 190px;
    }
    
    nav ul li ul li a {
        background: transparent;
        color: #555;
        border-bottom: 1px solid #DDE0E7;
    }
    
    nav ul li ul li a:hover,
    nav ul li ul li a:focus {
        background: #030303;
        color: #111;
    }
    
    .dropdown {
        display: none;
        position: absolute;
        background: #fff;
        box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
        border: turquoise;
    box-shadow: turquoise 15px 5px 30px;
    }
    