<div class="snippets">
  <h2>Códigos</h2>
  <div class="accordion-container">
    <!-- Primeira coluna -->
    <div class="accordion-column">
      <div class="accordion">
        <div class="accordion-item" *ngFor="let item of snippets; let i = index">
          <div class="accordion-header" (click)="toggleAccordion(i)">
            {{ item.title }}
            <span class="icon">{{ item.isOpen ? '−' : '+' }}</span>
          </div>
          <div class="accordion-content" *ngIf="item.isOpen">
            <div class="code-card">
              <pre><code>{{ item.code }}</code></pre>
              <div class="card-footer">
                <span class="language">{{ item.language }}</span>
                <button class="copy-btn" (click)="copyCode(item.code, $event)">
                  {{ item.copied ? 'Copied!' : 'Copy' }}
                </button>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Segunda coluna -->
    <div class="accordion-column">
      <div class="accordion">
        <div class="accordion-item" *ngFor="let item of snippets1; let j = index">
          <div class="accordion-header" (click)="toggleAccordion2(j)">
            {{ item.title }}
            <span class="icon">{{ item.isOpen ? '−' : '+' }}</span>
          </div>
          <div class="accordion-content" *ngIf="item.isOpen">
            <div class="code-card">
              <pre><code>{{ item.code }}</code></pre>
              <div class="card-footer">
                <span class="language">{{ item.language }}</span>
                <button class="copy-btn" (click)="copyCode2(item.code, $event)">
                  {{ item.copied ? 'Copied!' : 'Copy' }}
                </button>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
